@{
    ViewData["Title"] = "Google for a Day Search";
}

<div class="text-center">
    <form method="post">
        <p>
            <input type="text" id="indexUrl" placeholder="Url to index goes here" name="indexUrl" />
            <input type="submit" value="Index" name="searchIndex" />
            <input type="submit" value="Clear" name="clear" />
        </p>
    </form>
</div>
