@{
    ViewData["Title"] = "Google for a Day Search";
}
@model SearchEngine.UI.Models.SearchIndexModel

<div class="text-center">
    <form method="post">
        <p>
            <input type="text" id="indexUrl" placeholder="Url to index goes here" name="indexUrl" />
            <input type="submit" value="Index" name="searchIndex" />
            <input type="submit" value="Clear" name="clear" />
        </p>

        <p>
            @Html.ValidationMessageFor(m => m.IndexUrl, null, new { @class = "text-danger" })
        </p>

        @if (Model != null)
        {
            <p>Indexed @Model.NewPageCount new pages and @Model.WordCount words.</p>
        }
    </form>
</div>
